fastapi
uvicorn
streamlit
llama-index
llama-index-vector-stores-chroma
chromadb
sentence-transformers
tree-sitter
tree-sitter-language-pack
llama-index-embeddings-huggingface
gitpython
networkx
pyvis
python-dotenv
python-multipart
requests
ollama
langchain
pytest

